# Dependencies and node artifacts
node_modules/

# Production & Build folders
dist/
build/
app/build/
.gradle/
.idea/
*.spec

# Local configuration
.vscode/

# Python caching
__pycache__/
*.pyc

# Local executables downloaded by the script
yt-dlp.exe
ffmpeg.exe
ffprobe.exe
ffmpeg-release-essentials.zip

# Built artifacts
/*.exe
/*.apk

# Local configuration keys
.env
